# Socrata aka City datahub
CSR_DATASET=
CSR_ENDPOINT=
SO_KEY=
SO_SECRET=
SO_TOKEN=
SO_WEB=

# Socrata Dataset IDs
WEEK_DATASET=ij2v-mrv3
ACTIVE_DATASET=hyc6-zz9w
PRIORITY_DATASET=cavh-ec9p
SEGMENT_DATASET=nt54-hvix

# Smartsheet
SMARTSHEET_ACCESS_TOKEN=

# AWS 
EXEC_DASH_ACCESS_ID=
EXEC_DASH_PASS=
BUCKET_NAME=

# AMANDA RR DB
HOST=
PORT=
SERVICE_NAME=
DB_USER=
DB_PASS=

# ArcGIS Online
AGOL_USERNAME=
AGOL_PASSWORD=
